* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: violet;
    color: rgb(72, 40, 252);
    padding: 24px;
}

h1 {
    margin-bottom: 16px;
}

#parent {
    background-color:purple;
    padding: 48px;
    border-radius: 24px;
    color: blanchedalmond;
}

#child {
    margin-bottom: 16px;
    font-size: 32px;
}