body {
    background-color: navy;
    color: aliceblue;
    font-family: sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   cursor: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-cursor {
    position: absolute;
    font-size: 32px;
}